.Forecast {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000cc;
    padding: 1.25rem;
}

.Forecast div {
    width: 20%;
    padding: 0.4rem;
    text-align: center;
}