.WeatherDisplay {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 20px 70px 70px;
    color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid hotpink; */
}

.WeatherDisplay div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.WeatherDisplay h1 {
    font-size: 80px;
}

.WeatherDisplay h2 {
    font-size: 30px;
    font-weight: 600;
    display: block;
}

.WeatherDisplay h3 {
    font-size: 20px;
    font-weight: 500;
}

.WeatherDisplay h4 {
    font-size: 20px;
    margin: 3px;
}

.WeatherDisplay button {
    display: block;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-image: url("../../Assets/svg/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 48px;
    width: 48px;
    margin: 5px;
}
