.Form {
    align-items: center;
    color: #424242;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.Form div {
    height: 2rem;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form input {
    border: 2px solid #858585;
    border-right: none;
    border-radius: 25px 0 0 25px;
    box-shadow: -2px 2px 5px #00000066;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    height: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    width: 12rem;
}

.Form input:focus {
    border: 2px solid #58a7ff;
}

.Form button {
    background-image: linear-gradient( #9b9b9b, white,  #646464);
    border: 2px solid #858585;
    border-radius: 0 25px 25px 0;
    box-shadow: 2px 2px 5px #00000066;
    display: inline-block;
    font-size: 1rem;
    height: 2rem;
    padding: 0.4rem;
    text-align: center;
    width: 4.5rem;
}

.Form button:hover {
    border: 2px solid #58a7ff;
}

.Form button:active {
    background-image: linear-gradient( #9b9b9b, #323232,  #9b9b9b);
    border: none;
    color: #ffffff;
}

.Form p {
    color: #fc4141;
    font-size: 1rem;
}