.City {
  margin: 5px;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  z-index: 100;
}

.City:active,
.City:hover{
  background-color: rgba(255,255,255,0.5);
}

.City li {
  width: 90%;
  display: flex;
  justify-content: space-between;
  
  color: white;
  z-index: 0;
}